.cart {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.cart-items {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.total {
    position: sticky;
    top: 110px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 30px 50px;
    padding: 30px 30px;
    border-radius: 15px;
    
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.total-box {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.total-text {
    margin-top: 20px;
    margin-bottom: 20px
}

.cart-item {
    height: 40vh;
    width: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.cart-img-div {
    margin-left: 20px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    align-self: center;
}

.cart-img {
    height: 200px;
    width: 200px;
}

.cart-data {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
}

.price {
    color: #32cd32;
    font-size: 24px;
    margin-top: 10px;
}

.qt-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.qt-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: solid;
    border-color: #32cd32;
    cursor: pointer;
}

.qt {
    margin: 0px 20px 0px 20px;

}

.remove-btn {
    width: 200px;
    margin-top: 20px;
    color: red;
    cursor: pointer;
}

.cart-btn-w {
    margin: 20px 20px 0 0;
    width: 200px;
}

@media screen and (max-width: 720px) {
    .cart-item {
        display: flex;
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        margin: 30px 50px;
        border-radius: 15px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }

    .cart {
        display: flex;
        flex-direction: column;
    }

    .total {
        position: unset;
        height: fit-content;
        width: auto;
        display: flex;
        flex-direction: column;
        flex: 2;
        margin: 30px 50px;
        padding: 30px 30px;
        border-radius: 15px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }
}